# See https://prettier.io/docs/en/ignore for more about ignoring files.

# lockfiles
package-lock.json
pnpm-*.yaml

# msw
public/mockServiceWorker.*

# prisma
prisma/migrations/

# react-router
**/build
**/public
